@import "../../App.scss";

.pr-board-page {
  font-family: "Noto Sans KR";
  max-width: 1110px;
  width: 100%;

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .best-box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    margin-bottom: 60px;

    .bg-img {
      width: 95%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .bg-mask {
      position: absolute;
      left: 0;
      top: 0;
      // z-index: 4;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background: linear-gradient(to right, #0f0f0f 5%, rgba(15, 15, 15, 0.304) 50%, #0f0f0f 95%);
    }

    .contents-container {
      margin: 44px 120px;
      z-index: 10;
      color: #fff;
      height: calc(100% - 88px);
      display: flex;
      justify-content: space-between;

      .left-box {
        width: 100%;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        flex-wrap: wrap;

        .number {
          position: absolute;
          left: 180px;
          bottom: 10px;
          font-size: 300px;
          color: #cacaca50;
        }

        .sub-title {
          font-size: 18px;
          font-weight: 600;
          color: #e0e0e0;
        }

        .title {
          font-size: 36px;
          font-weight: 400;
          margin: 30px 0;
        }

        .date {
          font-size: 14px;
          color: #ffffffbb;
          margin-bottom: 6px;
        }

        .content {
          font-size: 14px;
          color: #ffffffbb;
          margin: 12px 0;
          flex-grow: 1;

          .ellipsis {
            @include ellipsis(3, 20px);
            white-space: wrap;
          }
        }

        .footer {
          font-size: 30px;
          color: #7c7c7c;
          display: flex;
          align-items: flex-end;

          .MuiSvgIcon-root {
            padding-top: 4px;
          }

          span {
            margin: 0 36px 0 6px;
            line-height: 34px;
            color: #ffffffeb;
          }
        }
      }

      .poster {
        height: 100%;
        min-width: 190px;
        max-width: 365px;
        object-fit: cover;
      }
    }

    .arrow-left {
      position: absolute;
      top: 180px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff33;
      font-size: 40px;
      margin: 0 20px;

      &:hover {
        color: #ffffff67;
      }
    }

    .arrow-right {
      position: absolute;
      top: 180px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff33;
      font-size: 40px;
      margin: 0 20px;

      &:hover {
        color: #ffffff67;
      }
    }
  }

  .header {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: #6b72804d solid 1px;

    .division > div {
      margin-right: 24px;
      cursor: pointer;
      color: #7f7f7f;

      &.selected {
        color: #ffa200;
        font-weight: 500;
      }
    }

    .buttons {
      position: relative;

      button {
        margin-left: 10px;

        .MuiButton-startIcon {
          margin-right: 2px;
        }

        &.MuiButton-outlinedDarkGray:hover {
          border-color: #89898980;
        }
      }

      .MuiFormControl-root {
        height: 30px;
        margin: 0;

        .MuiInputBase-root {
          color: #898989;
          font-size: 13px;
          font-weight: 500;
          line-height: 24px;

          &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: rgba(137, 137, 137, 0.5019607843);
          }

          .MuiSelect-select {
            padding: 3px 9px;
            height: 24px;
          }
        }
      }
    }
  }

  .state {
    width: 100%;
    padding: 40px 0;
    margin: 20px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.box {
      height: calc(100vh - 300px);
      background-color: #0000000c;
    }
  }
}

.scroll-ref {
  height: 1px;
}
