//Main
.main-container {
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid black;
}
.banner-container {
    display: flex;
    justify-content: center;
    height: 300px;
    background-repeat: repeat;
    background-size: contain;
    border-top: 0.5px solid black;
}
.best-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #282828;
}
.preferred-region-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    background-color: #282828;
    border-top: 0.5px solid black;
}
.publicity-container {
    height: 500px;
    background-color: #202020;
    border-top: 0.5px solid black;
}
.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    background-color: #282828;
}
.review-container {
    display: flex;
    justify-content: center;
    height: 500px;
    background: linear-gradient(to bottom, #202020 90%, #282828 10%);
    border-top: 0.5px solid black;
}
.child-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    padding-bottom: 20px;
    background-color: #282828;
    border-top: 0.5px solid black;
}
.theater-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-color: #202020;
    border-top: 0.5px solid black;
}
