//Main
.main-container {
    display: flex;
    flex-direction: column;
}
.banner-container {
    display: flex;
    justify-content: center;
    height: 320px;
    background-repeat: repeat;
    background-size: contain;
}
.best-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 540px;
    background-color: #202020;
}
.preferred-region-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 540px;
    padding-bottom: 20px;
    background-color: #282828;
}
.publicity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 80px 0;
    background-color: #282828;
}
.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    background-color: #282828;
}
.review-container {
    display: flex;
    justify-content: center;
    height: 500px;
    background: linear-gradient(to bottom, #202020 90%, #282828 10%);
}
.child-container {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 540px;
    background-color: #282828;
}
.theater-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 540px;
    background-color: #202020;
}
