.free-board-list-box {
  display: flex;
  flex-direction: column;

  .content-box {
    width: 100%;
    color: #787878;
    display: flex;
    flex-direction: column;
    border-bottom: #6b72804d solid 1px;
    box-sizing: border-box;
    padding: 16px 8px;
    background-color: #fff;

    .flex-box {
      display: flex;
      justify-content: space-between;
    }

    .top {
      font-size: small;
      padding-bottom: 10px;
      align-items: center;

      .user {
        display: flex;
        align-items: center;
        span {
          margin-left: 6px;
        }
        .user-img {
          width: 22px;
          height: 22px;
          border-radius: 50px;
          object-fit: cover;
        }
      }
    }

    .title {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 10px;
    }

    .bottom {
      .content {
        width: 70%;
        max-width: 500px;
        height: 16px;
        font-size: small;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .tags {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        max-height: 18px;
        @media (max-width: 992px) {
          max-height: 26px;
        }
        overflow: hidden;

        * {
          flex: 0 0 auto;
          box-sizing: border-box;
          background-color: #ebebeb;
          margin-right: 6px;
          padding: 3px;
          border-radius: 4px;
          font-weight: 400;
          font-size: 12px;
          color: #62676c;
        }
      }

      .post-card-footer {
        font-size: 12px;
        display: flex;
        justify-content: flex-end;

        .MuiSvgIcon-root {
          margin-left: 10px;
        }

        span {
          margin-left: 2px;
          line-height: 14px;
        }
      }
    }
  }
}
