.social-buttons {
  max-width: 300px;
  margin: 30px auto 0px auto;
  box-sizing: border-box;

  button {
    width: 280px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    padding: 0;


    .btnimage {
      display: block;
      width: 280px;
    }
    
  }



  
}

