.socialButtons {
  max-width: 300px;
  margin: 30px auto 0px auto;
  box-sizing: border-box;

  .btnbox {
    margin-bottom: 15px;

    button {
      width: 280px;
      border: none;
      cursor: pointer;
      padding: 0;
      
  
      .btnimage {
        display: block;
        width: 280px;
      }
      
    }

  }

  // 마지막 로그인 계정 표시 텍스트
  .last-account {
    display: none;
    width: 250px;
    margin: 0px auto;
    font-size: 13px;
    color: #ff3300;
    text-align: right;
  }

}

