.board-second-header {
  display: flex;
  align-items: center;
  margin: 38px 0;

  .header-title {
    margin: 0 8px 0 4px;
    font-size: 20px;
    font-weight: 600;
  }

  hr {
    flex-grow: 1;
    border: none;
    background-color: #000;
    height: 2px;
  }

  .pointer {
    cursor: pointer;
  }
}
