.nav-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  box-sizing: border-box;
  border-top: #bcbcbc5b solid 1px;
  color: #111827;

  .point {
    color: #ffb400;
  }

  span {
    font-size: 16px;
  }

  .refresh {
    transform: rotate(-90deg);
    &.start {
      transition: all 300ms;
      transform: rotate(-270deg);
    }

    &:hover {
      color: #ff9900;
    }
  }
}
