.board-list-header {
  width: 100%;

  h2 {
    margin: 0;
    padding: 20px 0 40px;
    font-size: 36px;
    font-weight: 700;
  }
}

.board-second-header {
  display: flex;
  align-items: center;
  width: 100%;
  color: #6b72805b;

  .click-box {
    display: flex;
    align-items: center;
  }

  .header-title {
    margin: 0 8px 2px 4px;
    font-size: 14px;
    font-weight: 500;
  }

  hr {
    flex-grow: 1;
    border: none;
    background-color: #6b72804d;
    height: 1px;
  }
}
