.comments-list-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .pagination {
    width: fit-content;
    margin: 20px auto;
  }

  .more-btn {
    margin: 5px 0;
    background-color: #ffb3000e;

    &:hover {
      background-color: #ffb3000e;
      color: #ff9d00;
    }
  }
}
