.comment-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #6b72804d;
  padding: 24px 4px 30px;

  .top {
    display: flex;

    .flex-box {
      flex-grow: 1;
      margin-left: 4px;
    }

    .user-profile-img {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 4px;
    }

    .user-id {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #111827;
    }

    .time {
      font-size: 12px;
      line-height: 16px;
      color: #374151;
    }

    .buttons {
      align-self: flex-end;

      button {
        margin-left: 4px;
        font-size: 12px;
        min-width: 56px;

        &:hover {
          color: #212121;
        }
      }

      &.default {
        align-self: flex-start;

        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          color: #bcbcbc;
          min-width: 32px;
          &:hover {
            color: #797979;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #374151;
    padding: 10px 0 6px;

    .close {
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: fit-content;
    }

    .see-more-btn {
      color: #d9d9d9;
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100% + 3px);
    }

    .close::before {
      content: "▾더보기";
      float: right;
      display: flex;
      align-items: flex-end;
      height: 100%;
      shape-outside: inset(calc(100% - 10px) 0 0 0);
      color: #fff;
    }
  }

  .content.edit {
    textarea {
      border-radius: 4px;
      flex-grow: 1;
      height: 75px;
      padding: 10px;
      font-weight: 400;
      resize: none;
      font-family: "Noto Sans KR";
      outline: none;
      border: #bcbcbc solid 1px;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    textarea:focus {
      border-color: #919191;
    }

    textarea::placeholder {
      color: #bcbcbc;
    }
  }
}
