@media (min-width: 480px) {
  .play-review-container {
    margin: 30px 0;
    min-height: 313.8px;
  }

  .play-review-container .play-review-list {
    padding: 5px 30px;
  }

  .play-review-not-exsist {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
}
