.selected-play-detail-menu {
  color: #222222;
  border-bottom: 2px solid #222222;
}

@media (min-width: 900px) {
  .play-detail-nav {
    display: flex;
    margin-top: 85px;

    div {
      font-size: 20px;
      font-weight: 700;
      padding: 0 10px 10px 10px;
      flex-grow: 1;
      text-align: center;

      &:hover {
        cursor: pointer;
        color: #222222;
      }
    }

    .unselected {
      color: #bcbcbc;
      border-bottom: 2px solid #bcbcbc;
    }
  }
}

@media (min-width: 551px) and (max-width: 899px) {
  .play-detail-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }

  .play-detail-nav div {
    font-size: 22px;
    font-weight: 700;
    padding: 0 10px 10px 10px;
  }

  .play-detail-nav div:hover {
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  .play-detail-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    div {
      font-size: 22px;
      font-weight: 700;
      padding: 0 10px 5px 10px;
      margin-bottom: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
