.socialButtons {
  max-width: 300px;
  margin: 26.8px auto 0px auto;
  box-sizing: border-box;

  .btnbox {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  /* 마지막 로그인 계정 표시 텍스트 */
  .last-account {
    text-align: center;
    margin-top: 35px;
    color: #808080;

    span {
      color: red;
      font-weight: 500;
    }
  }
}
