.admin-form-container{
    height: 800px;
    width: 1100px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.admin-form-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #888888;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.delete-btn {
    color: white;
    background-color: #282828;
    border-radius: 15px;
    height: 47px;
    width: 80px;
    cursor: pointer;
}
.delete-btn:hover {
    filter: brightness(0.8);
}
.header-review-category {
    width: 183px;
}