.admin-nav-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.admin-nav-box {
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-bottom: 0.5px solid #888;
    background-color: white;
    letter-spacing: 3px;
}
.admin-nav-header {
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-bottom: 0.5px solid #888;
    letter-spacing: 3px;
    background-color: #888888;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 550;
}
.admin-nav-box:hover {
    background-color: #eee;
    cursor: pointer;
}
.pr-comments-box {
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-bottom: 0.5px solid #888;
    background-color: white;
    letter-spacing: 3px;
    font-size: 12px;
    color: #888888;
}
.pr-comments-box:hover {
    background-color: #eee;
    cursor: pointer;
}
.free-comments-box {
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-bottom: 0.5px solid #888;
    background-color: white;
    letter-spacing: 3px;
    font-size: 12px;
    color: #888888;
}
.free-comments-box:hover {
    background-color: #eee;
    cursor: pointer;
}
.active {
    background-color: #eee;
    color: #ffb400;
    font-weight: 900;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
}
