.main-play-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    transition: margin 0.5s;
  }
  .main-play-box:hover {
    cursor: pointer;
  }
  .main-play-img-box {
    height: 250px;
    width: 180px;
    border: 0.5px solid black;
    border-radius: 10px;
    overflow: hidden;
    img {
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .main-play-title {
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: 300;
  }
  .main-play-period {
    font-size: 10px;
    margin: 3px 0;
  }