.main-publicity-container {
  display: flex;
  gap: 50px;
  color: white;
  width: 1200px;
  height: 1600px;
}
.publicity-box1 {
  width: 460px;
  height: 1400px;
}
.publicity-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 320px;
  height: 1400px;
}
.publicity-box3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  width: 320px;
  height: 1400px;
}
.publicity-product1 {
  width: 100%;
  height: auto; /* 이미지가 넘치지 않도록 높이 자동 조절 */
  background-color: #202020;
}
.publicity-product1 img {
  width: 100%;
  height: auto;
}
.publicity-product {
  width: 100%;
  height: auto; /* 이미지가 넘치지 않도록 높이 자동 조절 */
  background-color: #202020;
}
.publicity-product img {
  width: 100%;
  height: auto;
}