.main-best-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 350px;
    width: 1110px;
  }
  .main-title {
      color: white;
      margin-bottom: 10px;
      font-size: 27px;
  }
  