.region-list-container {
  width: 1204px;
}
.region-list-box {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 12px;
  margin-left: 4px;
}
.region-list {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0px 12px;
  font-size: 16px;
  color: white;
  background-color: #282828;
  border-radius: 16px;
}
.region-list:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
.region-list.selected {
  transform: scale(1.1);
  background-color: #eee;
  font-weight: 700;
  color: black;
  transition: transform 0.1s ease, background-color 0.2s ease;
}
.main-region-play-container {
  display: flex;
  align-items: flex-end;
  height: 368px;
  width: 1204px;
  overflow: hidden;
}
.main-region-container {
  display: flex;
  gap: 20px;
}
.main-region-play-img-box {
  height: 304px;
  width: 224px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.main-region-play-title {
  color: #eee;
  margin: 12px 0 8px 0;
  font-size: 16px;
  font-weight: 400;
}
.main-region-play-period {
  color: #00aaff;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}
