.main-review-container {
    display: flex;
    align-items: flex-end;
    width: 1110px;
    .review-title-box {
        display: flex;
        flex-direction: column;
        width: 310px;
        margin: 0 0 220px 50px;
        color: #eee;
    }
}
.review-box {
    height: 380px;
    width: 240px;
    margin-right: 25px;
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    h3 {
        font-size: 20px;
        margin: 20px 0 10px 0;
        text-align: center;
    }

    p {
        font-size: 12px;
        word-wrap: break-word;
        padding: 10px;
        line-height: 23px;
    }
    .stars {
        text-align: center;
        color: rgb(135, 135, 135);
    }

}

.review-h2 {
    font-size: 35px;
    color: white;
    margin: 0px;
}
.review-h2-1 {
    font-size: 29px;
}
.review-p {
    font-size: 20px;
    margin-top: 10px;
}