.main-review-container {
    display: flex;
    align-items: flex-end;
    width: 1110px;
}
.review-box {
    height: 380px;
    width: 240px;
    margin-right: 25px;
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.review-title-box {
    width: 310px;
    margin: 0 0 220px 50px;
    color: white;
}
.review-h2 {
    font-size: 35px;
    color: white;
    margin: 0px;
}
.review-h2-1 {
    font-size: 29px;
}
.review-p {
    font-size: 20px;
    margin-top: 10px;
}