.main-review-container {
    display: flex;
    align-items: flex-end;
    width: 1160px;
    .review-title-box {
        display: flex;
        flex-direction: column;
        width: 310px;
        margin: 0 0 220px 50px;
        color: #eee;
    }
}
.review-box {
    height: 400px;
    width: 280px;
    padding: 10px;
    margin-bottom: 24px;
    margin-right: 20px;
    background-color: #eee;
    border: black solid 1px;
    border-radius: 30px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.7);
    h3 {
        font-size: 20px;
        margin: 28px 0 16px 0;
        text-align: center;
    }

    p {
        font-size: 12px;
        word-wrap: break-word;
        padding: 10px;
        line-height: 24px;
    }
    .stars {
        text-align: center;
        color: rgb(135, 135, 135);
    }

}

.review-h2 {
    font-size: 36px;
    color: white;
    margin: 0px;
}
.review-h2-1 {
    font-size: 32px;
}
.review-p {
    font-size: 18px;
}