.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #282828;
  height: 180px;
}
.header-container::before {
  content: '';
  position: absolute;
  top: 66.6%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(187, 187, 187, 0.5);
}
.header-box {
  display: flex;
  flex-direction: column;
  width: 1110px;
  height: 180px;
}
.header-icon-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-login-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  margin-top: 12px;
  cursor: pointer;
}
.header-icon {
  color: #ddd;
  font-size: 32px !important;
}
.header-icon:hover {
  color: #eee;
}
.header-icon-text {
  font-size: 14px;
  color: #ddd;
}
.vertical-box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #282828;
  color: white;
  font-size: 50px;
}
.logo {
  height: 80px;
  width: 280px;
  margin-top: 8px;
  user-select: none;
}
.vertical-box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #282828;
}
.header-tab-box {
  display: flex;
}
.header-tab {
  width: 112px;
}
.header-tab-text1 {
  width: 32px;
  color: #eee;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.header-tab-text2 {
  width: 64px;
  color: #eee;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.header-tab-text1.active {
  color: #ffb400;
  font-weight: 600;
}
.header-tab-text1:hover {
  font-weight: 600;
}
.header-tab-text2.active {
  color: #ffb400;
  font-weight: 600;
}
.header-tab-text2:hover {
  font-weight: 600;
}
.header-search-btn {
  padding-left: 20px;
  background-color: #282828;
  border-left: 1px solid rgba(187, 187, 187, 0.5);
  border-right: 1px solid rgba(187, 187, 187, 0.5);
  width: 260px;
  height: 36px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.header-search-btn:hover {
  background-color: #222222;
}
.search-container {
  position: relative;
}
.search-icon {
  font-size: 20px !important;
  color: #ccc;
  position: absolute;
  right: 15px;
  top: 54%;
  transform: translateY(-50%);
  cursor: pointer;
}