@import url("https://fonts.cdnfonts.com/css/baloo-bhaina-2");
@media (min-width: 769px) {
  .header-container {
    display: flex;
    justify-content: center;
    background-color: #282828;
    height: 186px;
  }
  .header-box {
    display: flex;
    flex-direction: column;
    width: 1110px;
    height: 186px;
  }
  .vertical-box1 {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    background-color: #282828;
    color: white;
    font-weight: 200;
  }
  .header-login-btn-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
  }
  .header-login-btn-box:hover {
    font-weight: 600;
  }
  .header-login-btn {
    margin: 0;
    color: white;
  }
  .vertical-box2 {
    height: 100px;
    background-color: #282828;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  .logo {
    height: 100px;
    width: 360px;
  }
  .vertical-box3 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #282828;
  }
  .header-search-btn {
    border-radius: 15px;
    padding-left: 20px;
    background-color: white;
    width: 280px;
    height: 40px;
    cursor: pointer;
  }
  .search-container {
    position: relative;
  }
  .search-icon {
    color: #ffb400;
    position: absolute;
    right: 15px;
    top: 43%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .header-container {
    display: flex;
    justify-content: center;
    background-color: #282828;
    height: 186px;
  }
  .header-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1110px;
    height: 186px;
  }
  .vertical-box1 {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    background-color: #282828;
    color: white;
    font-weight: 200;
  }
  .header-login-btn-box {
    width: 92px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
  }
  .header-login-btn-box:hover {
    font-weight: 600;
  }
  .header-login-btn {
    margin: 0;
    color: white;
  }
  .vertical-box2 {
    height: 100px;
    background-color: #282828;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  .logo {
    height: 100px;
    width: 360px;
  }
  .vertical-box3 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #282828;
  }
  .header-search-btn {
    border-radius: 15px;
    padding-left: 20px;
    background-color: white;
    width: 280px;
    height: 40px;
    cursor: pointer;
  }
  .search-container {
    position: relative;
  }
  .search-icon {
    color: #ffb400;
    position: absolute;
    right: 15px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
