.mypage-template {
  display: flex;
  justify-content: center;
}
.mypage-container {
  display: flex;
  justify-content: center;
  width: 1110px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.mypage-nav {
  width: 210px;
  height: 800px;
  background-color: #eee;
}
.nav-header {
  height: 190px;
  padding-top: 20px;
  padding-left: 24px;
  background-color: #ffb400;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.nav-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-nav-box {
  width: 160px;
  padding: 12px 0;
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #878d95;
  }
  p:hover {
    cursor: pointer;
  }
  .selected {
    color: #ffb400;
  }
}
.mypage-content-area {
  width: 900px;
  height: 800px;
  background-color: white;
}

.mypage-progress {
  margin: 300px auto;
}
