.signupInContainer {
  font-family: "Noto Sans KR";
  width: 100%;
  display: flex;
  flex-direction: column;

  .signup-title {
    margin-top: 0;
    font-size: 40px;
    font-weight: 900;
    color: #ffb400;
    text-align: center;
  }

  .signup-description {
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    color: #808080;
  }

  .social-buttons {
    display: flex;
  }
}

.inner {
  max-width: 860px;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
}
