.signupInContainer {
  font-family: "Noto Sans KR";
  width: 100%;
  
  .signup-title {

    font-size: 50px;
    font-weight: 900;
    color: #FFB400;
    text-align: center;
  }
  .signup-description {
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
  }
}

.inner {
  max-width: 860px;
  margin: 0 auto; 
  position: relative;
}

