.search-result-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  svg {
    width: 48px;
    height: 48px;
    position: relative;
    top: 4px;
  }

  span {
    font-weight: bold;
    font-size: 30px;
  }
}
