.free-board-page {
  font-family: "Noto Sans KR";
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;

  .free-board-left-container {
    flex: 1 1;
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    width: 100%;
    padding: 10px 0;
    border-bottom: #6b72804d solid 1px;
    color: #7f7f7f;

    .left {
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;

      .point {
        color: #ffb400;
      }

      .refresh {
        margin: 2px 0 0 6px;
        transform: rotate(-90deg);
        font-size: 20px;

        &.start {
          transition: all 300ms;
          transform: rotate(-270deg);
        }

        &:hover {
          color: #ff9900;
        }
      }
    }

    .buttons {
      button {
        margin-left: 10px;

        .MuiButton-startIcon {
          margin-right: 2px;
        }

        &.MuiButton-outlinedDarkGray:hover {
          border-color: #89898980;
        }
      }

      .MuiFormControl-root {
        height: 30px;
        margin: 0;

        .MuiInputBase-root {
          color: #898989;
          font-size: 13px;
          font-weight: 500;
          line-height: 24px;

          &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: rgba(137, 137, 137, 0.5019607843);
          }

          .MuiSelect-select {
            padding: 3px 9px;
            height: 24px;
          }
        }
      }
    }
  }

  .main {
    margin: 0;
  }

  .state {
    width: 100%;
    height: calc(100vh - 400px);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000000c;
  }
}

.pagination {
  width: fit-content;
  margin: 20px auto;
}
