.free-board-detail {
  font-family: "Noto Sans KR";
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;

  .free-board-left-container {
    flex-grow: 1;
  }

  .body {
    display: flex;
    flex-direction: column;

    .back-btn {
      width: fit-content;
      align-self: center;
      margin-top: 60px;
    }
  }

  .nav-box {
    margin-top: 20px;
  }
}
