.free-board-page {
  font-family: "Noto Sans KR";
  width: 100%;
  max-width: 820px;

  .main {
    margin: 0 3%;
  }

  .state {
    width: 100%;
    height: calc(100vh - 500px);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000000c;
  }
}

.pagination {
  width: fit-content;
  margin: 20px auto;
}
