$tooltip-background-color: #ffffff;
$tooltip-border-color: #ffb400;
$tooltip-text-color: #282828;
$tooltip-font-size: 12px;
$tooltip-font-weight: 500;
$tooltip-letter-spacing: -0.25px;
$tooltip-margin-top: 6.8px;
$tooltip-padding-y: 5px;
$tooltip-padding-x: 11px;
$tooltip-position: relative;
$tooltip-width: fit-content;
$tooltip-z-index: 100;

@mixin tooltip {
  background-color: $tooltip-background-color;
  border: $tooltip-border-color solid 1px;
  border-radius: 5px;
  color: $tooltip-text-color;
  font-size: $tooltip-font-size;
  font-weight: $tooltip-font-weight;
  height: auto;
  letter-spacing: $tooltip-letter-spacing;
  margin-top: $tooltip-margin-top;
  padding: $tooltip-padding-y $tooltip-padding-x;
  position: $tooltip-position;
  width: $tooltip-width;
  z-index: $tooltip-z-index;
}

.play-search-content-box {
  display: flex;
  border-bottom: 1px solid #bcbcbc;
  padding: 0 30px 20px;
  margin-top: 20px;

  // 첫번째 .play-search-content-box 제외하고 모두 margin-top: 20px가 적용됨.
  &:not(:first-child) {
    margin-top: 20px;
  }

  .play-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    width: 130px;
    height: 182px;

    img {
      width: 130px;
      height: 182px;
      border-radius: 8px;
    }
  }

  .play-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;

    h3,
    p {
      margin: 0;
    }

    h3 {
      padding: 15px 0;
      font-size: 20px;
    }

    p {
      padding: 1.5px 0;
      font-size: 14px;
    }
  }

  .reservation-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;

    a {
      margin: 0;

      button {
        width: 160px;
        height: 45px;

        p {
          font-weight: bold;
          font-size: 19px;
        }
      }
    }

    .reservation-disabled {
      button {
        width: 160px;
        height: 45px;

        p {
          font-weight: bold;
          font-size: 19px;
        }
      }
    }
  }

  .end-show-tooltip {
    @include tooltip();
    position: absolute;
    margin-left: 20px;
  }
}
