.play-search-content-box {
  display: flex;
  border-bottom: 1px solid #bcbcbc;
  padding: 0 30px 20px;
  margin-top: 20px;

  // 첫번째 .play-search-content-box 제외하고 모두 margin-top: 20px가 적용됨.
  &:not(:first-child) {
    margin-top: 20px;
  }

  .play-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    width: 130px;
    height: 182px;

    img {
      width: 130px;
      height: 182px;
      border-radius: 8px;
      position: relative;
      top: 2.5px;
    }
  }

  .play-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;

    h3,
    p {
      margin: 0;
    }

    h3 {
      padding: 15px 0;
      font-size: 20px;
    }

    p {
      padding: 1.5px 0;
      font-size: 14px;
    }
  }

  .reservation-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;

    a {
      margin: 0;

      button {
        width: 140px;
        height: 40px;

        p {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }

    .reservation-disabled {
      button {
        width: 140px;
        height: 40px;

        p {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
