.play-search-content-box {
  display: flex;
  border-bottom: 1px solid #bcbcbc;
  padding: 0 30px 20px;
  margin-top: 20px;

  // 첫번째 .play-search-content-box 제외하고 모두 margin-top: 20px가 적용됨.
  &:not(:first-child) {
    margin-top: 20px;
  }

  .play-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 8px;
    width: 120px;
    height: 168px;
    overflow: hidden;

    a {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .play-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 50px;

    h3 {
      margin: 0;
      padding: 10px 0 20px;
      font-size: 20px;
      font-weight: 500;
    }

    p {
      margin-bottom: 10px;
      font-size: 14px;
      color: #808080;

      &.price {
        font-size: 16px;
        color: #282828;
        padding-top: 10px;
      }
    }
  }

  .reservation-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;

    a {
      margin: 0;

      button {
        width: 140px;
        height: 40px;

        p {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }

    .reservation-disabled {
      button {
        width: 140px;
        height: 40px;

        p {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
