@mixin basic-margin-and-width {
  margin: 20px auto;
  margin-top: 40px;
  width: 100%;
}

.play-search-result-container {
  @include basic-margin-and-width();
  margin-bottom: 0;

  @media (max-width: 1000px) {
    width: 100%;
  }

  .play-search-content {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    margin: 20px 0 100px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    a {
      margin-bottom: 20px;
    }
  }

  .no-result {
    margin: 80px auto;
  }
}

.play-search-result-none {
  @include basic-margin-and-width();
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin-bottom: 30px;
  }

  ul {
    list-style-type: circle;
  }
}
