.play-search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 24px;
  }

  .sort-by {
    width: 120px;
    height: 34px;
    font-size: 14px;
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    border: 1px solid rgba(188, 188, 188, 0.7);
  }
}
