.not-found-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  height: 100%;
  flex-grow: 1;
  font-family: "Noto Sans KR", sans-serif;

  img {
    width: 150px;
    height: 150px;
  }

  h1 {
    margin-top: 50px;
  }

  button {
    margin-top: 50px;
    font-size: 18px;
  }
}
