.community-search-result-container {
  margin: 40px auto 0;
  width: 100%;

  .search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 24px;
    }

    .sort-by {
      width: 120px;
      height: 34px;
      font-size: 14px;
      font-family: "Nanum Gothic", sans-serif;
      text-align: center;
      border: 1px solid rgba(188, 188, 188, 0.7);
    }
  }

  .search-content {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    margin: 20px 0 100px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .loading {
      margin: 200px auto;
    }

    a {
      margin-bottom: 20px;
    }
  }

  .search-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .state {
    margin: 80px auto;
  }
}
