.community-search-result-container {
  margin: 20px auto;
  margin-top: 80px;
  width: 100%;

  .search-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    span {
      font-weight: bold;
      font-size: 28px;
    }

    .sort-by {
      width: 120px;
      height: 40px;
      font-size: 16px;
      font-family: "Nanum Gothic", sans-serif;
      text-align: center;
      border: 1px solid rgba(188, 188, 188, 0.7);
      border-radius: 8px;
    }
  }
}
