body {
  background-color: #fcf9f5;
}

/*(반응형) 컴퓨터 사이즈에서 적용될 CSS*/
@media (min-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 1110px;
    margin: 30px auto;
    font-family: "Nanum Gothic", sans-serif;
  }
}

/*(반응형) 핸드폰 사이즈에서 적용될 CSS*/
@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-family: "Nanum Gothic", sans-serif;
  }
}
