body {
  background-color: #fcf9f5;
}

/*(반응형) 컴퓨터 사이즈에서 적용될 CSS*/
@media (min-width: 1130px) {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 50px auto;
    font-family: "Nanum Gothic", sans-serif;
  }

  .play-detail-main-box {
    border-radius: 8px;
    border: 1.5px solid rgba(188, 188, 188, 0.5);
    padding: 0 20px 0;
    margin-top: 30px;
    background-color: #fff;
  }
}

@media (min-width: 481px) and (max-width: 1129px) {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    font-family: "Nanum Gothic", sans-serif;
  }

  .play-detail-main-box {
    border-radius: 8px;
    border: 1.5px solid rgba(188, 188, 188, 0.5);
    padding: 0 20px 0;
    margin-top: 30px;
    background-color: #fff;
  }
}

/*(반응형) 핸드폰 사이즈에서 적용될 CSS*/
@media (max-width: 480px) {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 0 15px;
    font-family: "Nanum Gothic", sans-serif;
    width: 90%;
  }

  .play-detail-main-box {
    border-radius: 8px;
    border: 1.5px solid rgba(188, 188, 188, 0.5);
    padding: 0 20px 0;
    background-color: #fff;
  }
}
