.free-board-list-box {
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  border-top: #bcbcbc solid 1px;
  .content-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1px #bcbcbc solid;
    padding: 16px;
    background-color: #fff;
    .flex-box {
      display: flex;
      justify-content: space-between;
    }
    .top {
      font-size: small;
      padding-bottom: 10px;
      align-items: center;

      .user {
        display: flex;
        align-items: center;
        span {
          margin-left: 6px;
        }
      }
    }
    .title {
      font-size: 1rem;
      font-weight: 600;
      padding-bottom: 10px;
    }
    .bottom {
      .content {
        width: 70%;
        font-size: small;
        color: #787878;
        display: -webkit-box;
        white-space: normal;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // text-overflow: ellipsis;
      }
      .coments {
        font-size: small;
        display: flex;
        margin-top: auto;
        span {
          margin-left: 4px;
        }
      }
    }
  }
}
