.search-result-container {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  min-height: 70vh;
  max-width: 1000px;
  width: 100%;
  margin: auto;

  .count {
    color: #898989;
  }
}

.bg-gray {
  width: 100%;
  background-color: #f8f9fa;
}
