.condition-search-display-none {
  display: none;
}

.flex-layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  border-bottom: 1px solid rgba(188, 188, 188, 0.5);

  .condition-label {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: 500;
    border-right: 1.5px solid rgba(188, 188, 188, 0.5);
  }

  .condition-checkbox {
    padding-left: 30px;
    display: flex;
    padding: 5px 0 5px 30px;

    .condition-label {
      margin: 0;
      padding-right: 36px;
    }

    label {
      margin-right: 45px;
    }
  }

  .date-picker {
    input {
      padding: 10px 0 10px 15px;
      width: 150px;
    }
  }
}
