.post-form-box {
  background-color: #fff;
  padding: 50px;
  box-shadow: 1px 2px 10px 2px #00000017;
  border-radius: 30px;

  #date.hidden {
    width: 0px;
    height: 0px;
    border: none;
    position: absolute;
    left: 0;
  }

  .star {
    color: #1976d2;
  }

  .form-header {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: #e8e8e8 3px solid;
    margin-bottom: 40px;

    .title {
      margin: 0;
      font-size: 30px;
      font-weight: 500;
    }

    button {
      padding: 0;
    }
  }

  .category {
    .MuiFormGroup-root {
      flex-direction: row;
      display: inline-block;

      .MuiRadio-root {
        padding: 0px 10px;
        margin-bottom: 2px;
      }
    }
  }

  .add-info {
    margin-bottom: 80px;
    border-bottom: #e8e8e8 3px dotted;

    .MuiStack-root {
      display: inline-block;
      width: 500px;

      .MuiFormControl-root {
        width: 160px;
      }
      input {
        border: none;
      }
      span.line {
        font-size: 30px;
        padding-top: 8px;
        color: #d9d9d9;
      }
    }

    .date {
      .input {
        display: flex;
        align-items: center;
      }
    }

    .running-time {
      input {
        width: 10%;
      }
      span {
        color: #5e5e5e;
        font-weight: 300;
      }
    }
  }

  input,
  textarea {
    font-family: "Noto Sans KR";
  }

  ::placeholder {
    color: #d9d9d9;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .flex-box {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

  .input {
    justify-content: flex-start;
    position: relative;

    input[type="text"] {
      width: 60%;
    }

    input,
    textarea {
      border: none;
      border-bottom: solid #d9d9d9 2px;
    }

    input[type="file"] {
      border: none;
      width: fit-content;
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
    input[type="file"]:focus {
      border-bottom: solid 2px red;
    }

    textarea {
      min-height: 300px;
      border-top: #d9d9d9 solid 2px;
      resize: none;
      padding: 6px;
    }

    label {
      display: inline-block;
      width: 110px;
    }

    :focus {
      outline: none;
      border-color: #898989;
    }

    #imageBtn {
      border-width: 2px;
      label {
        width: fit-content;
      }
    }

    &.image {
      margin-bottom: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .placeholder {
        font-size: 14px;
        color: #898989;
        margin-left: 4px;
      }

      .image {
        position: relative;
        margin-right: 8px;

        &.main.image {
          max-height: 600px;
          min-height: 150px;
          width: 300px;
          margin-top: 16px;
        }

        .icon {
          position: absolute;
          top: 6px;
          right: 6px;
          color: #fff;
          width: 18px;
          height: 18px;

          background-color: #0000004a;
          padding: 12px;
          &:hover {
            background-color: #00000079;
          }
        }
      }

      .preview-box {
        width: 100%;
        height: 220px;
        overflow-x: auto;
        display: flex;
        margin-top: 16px;

        img {
          width: fit-content;
          height: calc(100% - 20px);
        }
      }
    }
  }

  .input.content {
    flex-direction: column;

    label {
      margin-bottom: 10px;
    }
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 0;

    .notice {
      font-size: 11px;
      font-weight: 400;
      color: #1976d2;
    }
  }

  .tag-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 14px;

    > * {
      background-color: #e8e8e8;
      border-radius: 20px;
      padding: 2px 6px 2px 10px;
      margin: 8px 6px 0 0;
      height: 24px;
    }

    .tag-box {
      line-height: 22px;
      text-wrap: wrap;
    }

    span {
      width: max-content;
    }
  }

  .title,
  .image,
  .date {
    .error {
      margin-left: 110px;
    }
  }

  .error {
    font-size: 12px;
    color: rgb(255, 0, 0);
    display: flex;
    line-height: 1.5;
    svg {
      margin: 3px 2px 0 0;
    }
  }
}

.pre-wrap {
  white-space: pre-wrap;
}
