.pr-board-post {
  background-color: #fff;
  padding: 30px 0 40px;
  display: flex;
  flex-direction: column;

  .top-container {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #6b72804d;

    .left-box {
      flex: 1 1;
    }
  }

  .main-img {
    height: 260px;
    max-width: 220px;
    object-fit: cover;
    margin-left: 40px;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    color: #111827;
  }

  .content {
    color: #374151;
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0;

    p {
      padding: 6px 0;
    }
  }
}
