.pointer {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  min-height: 100vh;
}

.page-margin {
  margin: 40px auto;
}

.page-margin-bottom {
  margin: 0 auto;
  margin-bottom: 60px;
}
