.close-icon-area {
  background-color: #343232;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  svg {
    cursor: pointer;
  }
}
