@media (min-width: 800px) {
  .average-rating-box {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    border: 1.5px solid rgba(188, 188, 188, 0.5);
    border-radius: 8px;
    margin-bottom: 50px;

    .star-and-rating {
      h2 {
        font-size: 20px;
      }

      .rating {
        font-size: 26px;
        font-weight: 700;
        padding-left: 30px;
        position: relative;
        bottom: 5px;
      }

      .rating-addtional-text {
        font-size: 14px;
        padding: 15px 0;
      }
    }

    .review-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65px;
      position: relative;
      top: 51px;
    }

    .review-button button {
      width: 200px;
      height: 45px;
    }

    .review-button button p {
      font-weight: 700;
      font-size: 18px;
      font-family: "Noto Sans KR", sans-serif;
    }
  }
}

@media (max-width: 800px) and (min-width: 480px) {
  .average-rating-box {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: space-between;
    border: 1.5px solid rgba(188, 188, 188, 0.5);
    border-radius: 8px;
    margin-bottom: 50px;

    .star-and-rating {
      .rating {
        font-size: 28px;
        font-weight: 700;
        padding-left: 30px;
        position: relative;
        bottom: 5px;
      }

      .rating-addtional-text {
        font-size: 15px;
        padding: 15px 0;
      }
    }

    .review-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }

    .review-button button {
      width: 240px;
      height: 60px;
    }

    .review-button button p {
      font-weight: 700;
      font-size: 23px;
    }
  }
}

@media (max-width: 480px) {
  .average-rating-box {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(188, 188, 188, 0.5);
    border-radius: 8px;
    margin-bottom: 50px;

    .star-and-rating {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .rating {
        font-size: 28px;
        font-weight: 700;
        position: relative;
        bottom: 5px;
        padding-top: 10px;
      }

      .rating-addtional-text {
        font-size: 15px;
        padding: 15px 0;
      }
    }

    .review-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
    }

    .review-button button {
      width: 160px;
      height: 80px;
    }

    .review-button button p {
      font-weight: 700;
      font-size: 23px;
    }
  }
}
