@media (min-width: 480px) {
  .play-review-header-container {
    margin: 20px 0 15px;
    display: flex;
    justify-content: space-between;

    .number-of-plays {
      font-weight: 700;
      font-size: 20px;
      display: flex;
      align-items: center;

      span {
        color: #ffb400;
        font-size: 20px;
      }
    }

    .play-review-sort {
      select {
        height: 30px;
        padding: 5px;
        font-family: "Noto Sans KR", sans-serif;
        text-align: center;
        border-radius: 6px;
        border-color: #bcbcbc;
      }
    }
  }

  .review-header-line {
    border-bottom: 1px solid #bcbcbc;
  }
}
