@media (min-width: 840px) {
  .review-form-container {
    margin: 30px 0 80px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(188, 188, 188, 0.5);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;

    .review-title-box {
      display: flex;
      align-items: center;

      h3 {
        margin-right: 30px;
      }
    }

    .review-author-box {
      display: flex;
      align-items: center;

      h3 {
        margin-right: 30px;
      }
    }

    .review-content-box {
      display: flex;
      flex-direction: column;

      div {
        width: 100%;
      }
    }

    .review-rating-box {
      display: flex;
      align-items: center;

      h3 {
        margin-right: 30px;
      }
    }

    .reivew-photo-upload-box {
      display: flex;
      align-items: center;

      .file-upload-btn {
        margin-left: 20px;
        cursor: pointer;
        height: 32px;
        position: relative;
        top: 2px;

        label {
          cursor: pointer;
        }
      }

      .file-input {
        display: none;
      }
    }

    img {
      width: 150px;
      height: 150px;
    }

    .review-guide-text {
      p {
        margin: 10px 0;
        font-size: 15px;
      }
    }

    .play-review-btn {
      height: 38px;
      justify-content: flex-end;
      display: flex;
      margin: 10px 0 20px;
      button {
        margin-left: 30px;
      }
    }
  }
}

@media (min-width: 590px) and (max-width: 840px) {
  .review-form-container {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(188, 188, 188, 0.5);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;

    .review-title-box {
      display: flex;
      flex-direction: column;

      h3 {
        margin-right: 30px;
      }

      div {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    .review-author-box {
      display: flex;
      align-items: center;

      h3 {
        margin-right: 30px;
      }
    }

    .review-content-box {
      display: flex;
      flex-direction: column;

      div {
        width: 100%;
      }
    }

    .review-rating-box {
      display: flex;
      align-items: center;

      h3 {
        margin-right: 30px;
      }
    }

    .reivew-photo-upload-box {
      display: flex;
      align-items: center;

      .file-upload-btn {
        margin-left: 20px;
        cursor: pointer;
        height: 32px;
        position: relative;
        top: 2px;

        label {
          cursor: pointer;
        }
      }

      .file-input {
        display: none;
      }
    }

    img {
      width: 150px;
      height: 150px;
    }

    .review-guide-text {
      margin-bottom: 10px;

      p {
        margin: 10px 0;
        font-size: 15px;
      }
    }

    .play-review-btn {
      height: 38px;
      justify-content: flex-end;
      display: flex;
      margin: 10px 0 20px;
      button {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 590px) {
  .review-form-container {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(188, 188, 188, 0.5);
    padding: 10px 30px;
    display: flex;
    flex-direction: column;

    .review-title-box {
      display: flex;
      flex-direction: column;

      h3 {
        margin-right: 30px;
      }

      div {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    .review-author-box {
      h3 {
        margin-right: 30px;
      }

      p {
        margin-bottom: 10px;
      }
    }

    .review-content-box {
      display: flex;
      flex-direction: column;

      div {
        width: 100%;
      }
    }

    .review-rating-box {
      h3 {
        margin-right: 30px;
      }

      div {
        margin-bottom: 10px;
      }
    }

    img {
      width: 150px;
      height: 150px;
      padding: 20px 0;
    }

    .review-guide-text {
      margin-bottom: 10px;

      p {
        margin: 10px 0;
        font-size: 15px;
      }
    }

    .play-review-btn {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      button:first-child {
        margin: 20px 0;
        width: 70%;
      }

      button:nth-child(2) {
        margin-bottom: 30px;
        width: 70%;
      }
    }
  }
}
