@media (min-width: 480px) {
  .review-error-box-container {
    height: 0;
  }

  .review-error-box {
    width: 250px;
    position: relative;
    bottom: 180px;
    left: 71%;
  }
}

@media (max-width: 480px) {
}
