/*(반응형) 컴퓨터 사이즈에서 적용될 CSS*/
@media (min-width: 480px) {
  .pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

/*(반응형) 핸드폰 사이즈에서 적용될 CSS*/
@media (max-width: 480px) {
  .pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}
