/*(반응형) 컴퓨터 사이즈에서 적용될 CSS*/
@media (min-width: 1130px) {
  .play-list-header {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    .number-of-plays {
      font-weight: 700;
      font-size: 28px;

      span {
        color: #ffb400;
      }
    }

    .sort-by {
      width: 120px;
      height: 40px;
      font-size: 16px;
      font-family: "Nanum Gothic", sans-serif;
      text-align: center;
      border: 1px solid rgba(188, 188, 188, 0.7);
      border-radius: 8px;
    }
  }
}

@media (min-width: 481px) and (max-width: 1129px) {
  .play-list-header {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    .number-of-plays {
      font-weight: 700;
      font-size: 28px;

      span {
        color: #ffb400;
      }
    }

    .sort-by {
      width: 120px;
      height: 40px;
      font-size: 16px;
      font-family: "Nanum Gothic", sans-serif;
      text-align: center;
      border: 1px solid rgba(188, 188, 188, 0.7);
      border-radius: 8px;
    }
  }
}

/*(반응형) 핸드폰 사이즈에서 적용될 CSS*/
@media (max-width: 480px) {
  .play-list-header {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    .number-of-plays {
      font-weight: 700;
      font-size: 26px;

      span {
        color: #ffb400;
      }
    }

    .sort-by {
      width: 120px;
      height: 40px;
      font-size: 16px;
      font-family: "Nanum Gothic", sans-serif;
      text-align: center;
      border: 1px solid rgba(188, 188, 188, 0.7);
      border-radius: 8px;
    }
  }
}
