.play-region-selected-design {
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  text-align: center;
  border-bottom: none;
  color: #ffb400;
  background-color: #282828;
  overflow: hidden;
}

.all-region-border {
  border-radius: 8px 0 0 8px;
}

.jeju-border {
  border-radius: 0 8px 8px 0;
}

@media (min-width: 1130px) {
  .play-region-select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 1px solid #bcbcbc;

    .play-region-select {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-weight: 700;

      .non-selected-design {
        padding: 10px;
        cursor: pointer;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        text-align: center;
        color: #bcbcbc;
        border-right: 1px solid #bcbcbc;
      }

      .non-selected-design:last-child {
        border-right: 0;
      }

      span:hover {
        color: #ffb400;
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 1130px) {
  .play-region-select-container {
    .play-region-select {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      span {
        padding: 10px;
        margin-right: 20px;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 480px) {
  .play-region-select {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    span {
      font-weight: 700;
      font-size: 18px;
      margin: 0 20px 13px;
    }
  }
}
