.play-region-selected-design {
  padding: 11px;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  text-align: center;
  border-bottom: none;
  color: #ffb400;
  background-color: #282828;
  overflow: hidden;
}

.all-region-border {
  border-radius: 8px 0 0 8px;
}

.jeju-border {
  border-radius: 0 8px 8px 0;
}

.play-region-select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #bcbcbc;

  .play-region-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;

    .non-selected-design {
      padding: 10px;
      cursor: pointer;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      text-align: center;
      color: #bcbcbc;
      border-right: 1px solid #bcbcbc;
    }

    .non-selected-design:last-child {
      border-right: 0;
    }

    span:hover {
      color: #ffb400;
    }
  }
}
