@media (min-width: 769px) {
  .footer-layout {
    display: flex;
    justify-content: center;
    background-color: #202020;
  }
  .footer-container {
    display: flex;
    width: 1110px;
    height: 132px;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
  }
  .footer-box1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    h3 {
      margin: 4px 0 !important;
    }
    p {
      margin: 0;
    }
  }
  .footer-box2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    p {
      font-size: 14px;
      margin: 0;
    }
  }
  .footer-box3 {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
  }
  .footer-logo {
    width: 240px;
  }
}
@media (max-width: 767px) {
  .footer-layout {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    border-top: 1px solid #bcbcbc;
  }
  .footer-container {
    display: flex;
    width: 1110px;
    height: 132px;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
  }
  .footer-box1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(74, 74, 74);
    h3 {
      margin: 0;
      margin-bottom: 5px;
    }
    p {
      margin: 0;
    }
  }
  .footer-box2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(74, 74, 74);
    p {
      font-size: 14px;
      margin: 0;
    }
  }
  .footer-box3 {
    height: 104px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
  }
  .footer-logo {
    width: 240px;
  }
}
