.footer-layout {
  display: flex;
  justify-content: center;
  background-color: #202020;
}
.footer-container {
  display: flex;
  width: 1110px;
  height: 160px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
}
.footer-inner-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-inner {
  color: #ccc;
  margin: 4px 0;
  font-size: 14px;
}
.footer-span1{
  padding-right: 6px;
}
.footer-span2{
  padding-left: 6px;
}
.footer-comment {
  color: #e6a100;
  margin-top: 6px;
  font-size: 12px;
}
.footer-copyright {
  margin-top: 20px;
  color: #aaa;
  font-size: 13px;
}
.footer-logo-box {
  width: 40%;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer-share {
  color: #ccc;
  font-size: large;
}
.footer-logo {
  width: 180px;
}
