.footer-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  border-top: 2px solid #222222;
}
.footer-layout::before {
  content: "";
  position: absolute;
  top: 17%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(187, 187, 187, 0.5);
}
.footer-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1110px;
}
.footer-nav-tab1 {
  display: flex;
  align-items: center;
  height: 20px;
  width: 140px;
  color: #aaa;
  font-size: 16px;
  border-right: 1px solid rgba(187, 187, 187, 0.5);
  p {
    color: #aaa;
    font-size: 16px;
  }
  p:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
.footer-nav-tab2 {
  display: flex;
  align-items: center;
  height: 40px;
  width: 120px;
  color: #aaa;
  font-size: 16px;
  p {
    color: #e6a100;
    font-size: 16px;
  }
  p:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
.footer-container {
  display: flex;
  width: 1110px;
  height: 160px;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  margin-bottom: 35px;
}
.footer-inner-box {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.footer-inner {
  color: #ccc;
  margin: 4px 0;
  font-size: 14px;
}
.footer-span1 {
  padding-right: 6px;
}
.footer-span2 {
  padding-left: 6px;
}
.footer-comment {
  color: #e6a100;
  margin-bottom: 6px;
  font-size: 14px;
}
.footer-text-link {
  color: rgb(30, 143, 235);
  font-weight: 600;
  text-decoration: underline;
}
.footer-copyright {
  margin-top: 20px;
  color: #aaa;
  font-size: 12px;
}
.footer-logo-box {
  width: 40%;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-share {
  color: #ccc;
  font-size: large;
}
.footer-logo {
  width: 180px;
}
