.calendar-region-selected-design {
  background-color: #ffb400;
}

.calendar-region-not-selected {
  background-color: #bcbcbc;
}

@media (min-width: 480px) {
  .calendar-region-menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

    span {
      font-size: 20px;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
}
